e-commerce-app/
ZipFolders/
springbootconsul/
springbootconsul.zip
.gitignore
InfytelGo/
.idea/
bin/
Images/ 
.mvn/
.vscode/
/target/
/*/target/
*.log
*.class
*.jar
*.war
/.idea/
/.vscode/
/*.iml
/.DS_Store


